<form action="/api/connexion" method="POST">
    <input type="text" name="user" placeholder="User" />
    <input type="password" name="password" placeholder="Password" />
    <button type="submit">Connexion</button>
</form>