<!-- Importer le header -->
<% include partials/header.ejs %>

<h2>Connexion / Inscription</h2>
<p>Connectez-vous ou inscrivez-vous</p>

<% include components/connexion.ejs %>
<% include components/inscription.ejs %>

<!-- Importer le footer -->
<% include partials/footer.ejs %>